.liveSection {
  background-color: $white;
  position: absolute;
  bottom: rem(-70);
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 30px 60px rgba(142, 150, 160, 0.14);
  border-radius: rem(10);
  padding: rem(24);

  .wrapper {
    @include alignCenter;

    .content {
      @include alignCenter;
      gap: rem(20);
      .img {
        border-radius: rem(10);
        width: rem(104);
        height: rem(104);
        object-fit: cover;
      }
      .text {
        width: rem(450);
        overflow: hidden;
        .title {
          font-size: rem(32);
          color: $dark;
          font-weight: 700;
        }
        .name {
          color: $gray;
          font-weight: 500;
        }
      }
    }
    .stream {
      @include alignCenter;
      gap: rem(12);
    }
  }
}

@media (max-width: 1135px) {
  .liveSection {
    bottom: rem(-100);
    .wrapper {
      @include flexDirectionColumn;
      align-items: flex-start;
      gap: rem(20);

      .content {
        .text {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .liveSection {
    .wrapper {
      .content {
        .text {
          .title {
            font-size: rem(18);
          }
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .liveSection {
    bottom: rem(-100) !important;
  }
}
@media (max-width: 400px) {
  .liveSection {
    bottom: rem(-200) !important;
  }
}
