.table {
    border-radius: 8px;
    .header {
        display: flex;
        .cell {
            border-left: 1px solid $main;
            border-bottom: 1px solid $main;
            border-top: 1px solid $main;
            padding: 4px 12px;
            min-height: 34px;
            width: 100%;
            display: flex;
            align-items: center;

            p {
                font-weight: 500;
                color: $main;
            }

            &:first-child {
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }

            &:last-child {
                border-right: 1px solid $main;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            }
        }
    }

    .body {
        margin-top: 20px;
        .row {
            display: flex;
            min-height: 34px;

            .cell {
                width: 100%;
                padding: 4px 12px;
                border-right: 1px solid $main;
                border-bottom: 1px solid $main;
                display: flex;
                align-items: center;

                &:first-child {
                    border-left: 1px solid $main;
                }
    
                p {
                    font-weight: 500;
                    color: $main;
                }
            }

            &:last-child {
                .cell:first-child {
                    border-bottom-left-radius: 8px;
                }
                .cell:last-child {
                    border-bottom-right-radius: 8px;
                }
            }

            &:first-child {
                .cell {
                    border-top: 1px solid $main;
                }
                .cell:first-child {
                    border-top-left-radius: 8px;
                }
                .cell:last-child {
                    border-top-right-radius: 8px;
                }
            }
        }
    }
}

@include breakpoint('sm') {
    .table {
        .header {
            .cell {
                p {
                    font-size: 12px;
                }
            }
        }
    }
}