.checkbox {
    cursor: pointer;
    .box {
        width: 20px;
        height: 20px;
        border: 1px solid $main;
        border-radius: 4px;
        .inner {
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    display: flex;
    align-items: center;
    column-gap: 6px;

    .text {
        font-size: 14px;
        line-height: 18px;
        width: 120px;
    }
}