.header {
  transition: all 0.5s ease-in-out;
  background-color: transparent;
  height: rem(90);
  @include alignCenter;
  .box {
    .left,
    .right {
      @include alignCenter;
    }
    @include alignCenterJustifyBetween;
    .navigation {
      ul {
        @include alignCenterJustifyBetween;
        gap: 22px;
        a {
          color: $baseBlack;
        }
      }
    }
    .right {
      .registrBtn {
        button {
          text-transform: none;
        }
      }
    }
    .langs {
      position: relative;
      @include alignCenterJustifyBetween;
      color: $baseBlack;
      font-weight: 500;
      cursor: pointer;

      .arrow {
        background-color: $baseBlack;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-left: rem(10);
        @include alignCenterJusftifyCenter;
        svg {
          color: $white;
        }
      }
    }
  }
}
.activeHeader {
  background-color: $white;
}
