

.tableContainer {
  &.unbordered {
    border: none;
  }
  .tableCell {
    padding: 0;
    border-color: $borderSecondry;
  }
  .tableCellInner {
    padding: rem(16);
  }
  .tableHead {
    .headCell {
      background: white !important;
      box-shadow: none !important;
      border-radius: 0 !important;
      .headItem {
        color: $grayFourthDarker;
        font-weight: 500;
      }
      .headItem.center {
        display: flex;
        align-items: center;
      }

      input {
        color: $grayFourthDarker;
        font-size: rem(14);
        font-weight: 600;
        border: none;
        outline: none;
        width: 100%;
        background-color: transparent;
      }

      .headHoverActions {
        position: absolute;
        top: 50%;
        right: rem(5);
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
  }
  .tableBody {
    .bodyCell {
      .bodyItem {
        color: $dark;
        font-size: rem(14);
        font-weight: 600;
        width: 100%;
      }

      &.unborder {
        border: none;
      }

      input {
        color: $dark;
        font-size: rem(14);
        font-weight: 600;
        border: none;
        outline: none;
        width: 100%;
      }
    }
  }
}

.borderR {
  border-right: rem(1) solid $border;
}
.borderL {
  border-left: rem(1) solid $border;
}

.noData {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: rem(20);
}
