.cardWrapper {
  .list {
    padding: 0;
    .listItem {
      @include alignCenterJustifyBetween;
      padding: 0;
      .content {
        gap: rem(12);
        @include alignCenterJustifyBetween;

        .text {
          color: $grayLight;
          font-weight: 500;
        }
      }
      .time {
        font-weight: 700;
      }
    }
  }
}

@include media("mobile") {
  .cardWrapper {
    .list {
      .listItem {
        .content {
          .text {
            font-size: rem(14);
          }
        }
        .time {
          font-size: rem(14);
        }
      }
    }
  }
}
