.banner {
  position: relative;
}

.statistics {
  @include alignCenter;
  gap: rem(48);
  flex-wrap: wrap;
  .item {
    @include alignCenter;
    gap: rem(10);
    .num {
      @include mainTitle;
    }
    .text {
      font-size: rem(16);
      font-weight: 500;
      color: $dark;
      width: rem(80);
      line-height: rem(18);
    }
  }
}

@media (max-width: 1200px) {
  .statistics {
    gap: rem(30);
    .item {
      .text {
        font-size: rem(14);
        line-height: rem(14);
      }
    }
  }
}
