.wrapper {
    .title {
        font-size: rem(18);
        font-weight: 700;
        color: $dark;
        margin-bottom: rem(18);
    }
}

.comment {
    display: flex;
    gap: rem(8);
    width: 100%;
    margin-bottom: 10px;

    .text {
        width: 100%;
    }

    .title {
        margin-bottom: 0;
        color: #6B7690;
        font-size: rem(16);
        font-weight: 500;
        margin-top: 5px;
        white-space: nowrap;
    }
    .comment {
        font-size: rem(14);
        margin-top: 4px;
        margin-bottom: 10px;
    }
    .box {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
}

.sendwrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(15);
    width: 100%;
    .input {
        display: flex;
        width: 100%;
        border-bottom: 1px solid $border;
        align-items: center;
        position: relative;

        &.focused {
            border-color: $ink;
        }
    }
}

@include media("mobile") {
    .wrapper {
        .title {
            font-size: rem(16);
            margin-bottom: rem(18);
        }
    }
    
    .comment {    
        .title {
            max-width: 125px;
            font-size: rem(12);
            overflow: hidden;
            margin-bottom: 0;
        }
        .comment {
            font-size: rem(12);
            margin-top: 4px;
            margin-bottom: 10px;
        }
    }
    
    .sendwrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(10);
        width: 100%;

        .input {
            input {
                font-size: 14px;
            }
        }
    }
    
  }