.listGrid {
  @apply grid grid-flow-row-dense gap-[32px] mobile:grid-cols-2 tablet:grid-cols-3;
}
.tabsWrapper {
  padding: rem(20) rem(0) rem(0) rem(0);
}
.tabs {
  position: relative;
  .tabSide {
    width: 92%;
    overflow: hidden;
  }
  .btnSide {
    @include alignCenter;
    gap: rem(15);
  }
  .tabsBtn {
    width: rem(26);
    height: rem(26);
    border-radius: 50%;
    background-color: $grayFifth;
    padding: 0;
    @include alignCenterJusftifyCenter;

    &.active {
      background-color: $ink;
    }

    svg {
      color: white;
      font-size: 14px;
    }
  }
}

@media (max-width: 980px) {
  .tabs {
    .tabSide {
      width: 100%;
    }
  }
}
